<h1> <%= @kitty.name%> </h1>

<table>
    <tr>
        <th>Attribute</th>
        <th>Value</th>
    </tr>
    <%[:color, :birth_date, :sex, :age].each do |attr|%>
        <tr> 
            <td> <%= attr %></td>
        </tr>
    
    <% end %>
    
</table>